{{extend 'layout.html'}}

<h2>Fansub Check</h2>
        <h3>Pour un Fansub de qualité !</h3>

<p><strong>Le principe de FansubCheck est simple :</strong>
 Vous envoyez votre fichier de sous-titre (format SSA ou ASS) et le site génère un script sur lequel vous pouvez effectuer des commentaires sur chaque sous-titres.
<br /><br />
Vous pouvez choisir que votre QC (Quality Check) soit public ou non listé.<br />
Un <strong>QC public</strong> sera visible par tous les membres de FansubCheck qui pourront alors effectuer leurs commentaires.<br />
Un <strong>QC non listé</strong> ne sera accessible que par ceux à qui vous donnaient le lien (par exemple sur le forum de votre team).</p>
<span style="color: red;" >/!\ ATTENTION /!\ En beta, les données sont régulièrement supprimées...</span>
<br /><br />
Démo en vidéo :<br />
<iframe width="960" height="720" src="https://www.youtube-nocookie.com/embed/9ZbjSkHgp9M?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>